.card {
    width: 362px;
    height: 342px;
    border-radius: 10px;
}

.img img {
    width: 362px;
    height: 290px;
    border-radius: 10px;
}

.genre button {
    width: auto;
    padding: 2.5px 5px;
    height: 35px;
    background-color: #FF0000;
    border-radius: 10px;
    color: #FFFFFF;
}